@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$baseFontSize: 16px;

* {
    margin: 0;
    padding: 0;
}

.main-layout {
    background-color: #24ACDC;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab-container {
        display: flex;
        margin: 0 auto;
        align-items: center;
        // width: 360px;
        height: 48px;
        padding: 12px;
        align-items: center;
        gap: 8px;
        border-radius: 14px;
        background: #E0F3FA;

        @media only screen and (max-width: 768px) {
            width: 90%;
            height: 10%;
            margin: 0 auto;
            text-align: center;
        }

    }

    .button-style {
        display: flex;
        width: 160px;
        height: 44px;
        font-size: 1rem;
        border-radius: 10px;
        background: #24ACDC;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        background: transparent;
        border: none;
        color: #000;
        font-weight: bolder;
        background-color: #cceff6;

        &.active-button-style {
            background: #24ACDC;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }


        @media only screen and (max-width: 768px) {
            width: 45%;
            margin: 0 auto;
            text-align: center;

            .active-button-style {
                background: #24ACDC;
                color: white;
            }

        }

    }

    .custom-card {
        width: 26.25rem;
        height: 100%;
        border-radius: 1.5rem;
        background: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 4%;
    }

    .custom-title {
        display: inline-flex;
        height: 5rem;
        padding: 0px 1.551rem;
        align-items: center;
        gap: 1.551rem;
        flex-shrink: 0;

        .logo {
            width: 190.506px;
            height: 70.167px;
        }
    }




    .custom-tabs {
        margin-top: 0.5rem;
        text-align: center;

        .ant-tabs-nav {
            .ant-tabs-tab {
                margin: 0;
                padding: 0.5rem 1.551rem;
                border: none;
                border-radius: 0.5rem;
            }

            .ant-tabs-tab-active {
                color: white;
            }
        }
    }

    .TabPanes {
        padding: 1.375rem;
        text-align: center;
    }

    .tab-content {
        text-align: center;
    }

    .section-title {
        color: #1E2226;
        text-align: center;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 0.5rem;
    }

    .section-pera {
        color: #9A9FA5;
        font-family: 'Inter', sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 1.5rem;
    }

    .login-form,
    .signup-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .signup-form-names-fields {
            display: flex;
            justify-content: space-around;
            width: 100%;

            #signupLastName {
                margin-left: 5px;
            }
        }

        @media only screen and (max-width: 768px) {
            .signup-form-names-fields {
                width: 90%;
            }

            .form-input {
                width: 90%;
            }

            #signupLastName {
                margin-left: 5px;
            }
        }
    }

    .form-input {
        display: flex;
        width: 100%;
        height: 2.8rem;
        padding: 0 0.875rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.625rem;
        border: 0.0625rem solid #B0E1F2;
        background: #E0F3FA;
        margin-bottom: 1rem;
    }

    .form-button {
        display: flex;
        width: 24.25rem;
        height: 3rem;
        padding: 0.625rem 0.875rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border: none;
        border-radius: 0.625rem;
        background: #FF8000;
        color: #1F2128;
        text-align: center;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p {
        text-align: center;
        color: #000000;
    }

    /* Small screens */
    @media only screen and (max-width: 768px) {
        .main-layout {
            width: 100%;
        }

        .custom-card {
            width: 90%;
        }

        .form-input,
        .form-button {
            width: 90%;
        }
    }
}