.companyusers-container {
    display: flex;
    // height: 100vh;

}

.compnayusers-content {
    flex: 1;

    .content-header {
        display: flex;
        justify-content: space-between;
        flex: 100%;
        height: 70px;
        background-color: #1ba0b7;
        position: sticky;
        top: 0;

        .content-header-headings {
            padding: 20px;
            color: white;
        }

        .content-header-logo {
            height: 50px;
            /* width: 60px; */
            padding: 20px;
            font-size: 24px;
            /* Increase font size for emphasis */
            font-weight: bold;
            color: white;
            text-decoration: underline;
            /* Remove unwanted text decoration */
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            /* Add a subtle text shadow for depth */
        }

        .company-actions {
            text-align: right;
            margin-right: 30px;
            padding: 20px;
        }

        .Add-company-btn {
            background-color: #ff8000;
            border: none;
            color: white;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .Add-company-btn:hover{
            background-color: #ff9933;
            color: white;
        }
    }

    .table-container {
        // max-height: 400px; // Adjust the height as needed
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;

        .table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid #e8e8e8;
                padding: 20px;
                text-align: center;

                &:last-child {
                    .Actions-btns {
                        margin-right: 0;
                    }
                }
            }

            th {
                color: #100739;
                background-color: #f0f2f5;
            }

            tbody tr:hover {
                background-color: #e6f7ff;
            }

            .Actions-btns {
                .view-eye-btn {
                    font-size: 20px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: #2d8ed4;
                    text-decoration: underline;
                    margin-right: 20px;

                    &:hover {
                        color: #40a9ff;
                    }
                }

                .Delete-button {
                    font-size: 20px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: #ff8000;
                    text-decoration: underline;

                    &:hover {
                        color: #40a9ff;
                    }
                }

                .Edit-button {
                    font-size: 20px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: rgb(25, 172, 192);
                    text-decoration: underline;
                    margin-left: 20px;

                    &:hover {
                        color: #40a9ff;
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 5px;
        }
    }
}