.companyusers-container {
    display: flex;
    height: 100vh;

}

.compnayusers-content {
    flex: 1;

    .content-header {
        display: flex;
        justify-content: space-between;
        flex: 100%;
        height: 70px;
        background-color: #1ba0b7;

        .content-header-headings {
            padding: 20px;
            color: white;
        }

        .content-header-logo {
            height: 50px;
            width: 60px;
            padding: 10px;
        }
        .company-actions{
            text-align: right;
            margin-right: 30px;
            padding: 20px;
        }
        .Add-company-btn{
            background-color: #FF8000;
            border: none;
            color: white;
        }
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    
        th,
        td {
          border: 1px solid #e8e8e8;
          padding: 20px;
          text-align: center; // Center align text
        }
    
        td {
          cursor: pointer;
    
        }
    
        th {
          color: #100739;
          background-color: #f0f2f5;
        }
    
    
        tbody tr:hover {
          background-color: #e6f7ff; // Hover row background color
        }
    
        .Actions-btns {
          .Delete-button {
            font-size: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: #FF8000;
            text-decoration: underline;
    
            &:hover {
              color: #40a9ff;
            }
          }
    
          .Edit-button {
            font-size: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: rgb(25, 172, 192);
            text-decoration: underline;
            margin-left: 20px;
    
            &:hover {
              color: #40a9ff;
            }
          }
        }
    
      }
}