.ecard-wrapper{
    width: 100%;
    max-width: 754px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-block: 46px;
    margin-inline: auto;
    font-family: 'Inter';
    .ecard-cover{
        width: 100%;
        height: 242px;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        border: 1px solid #e3e6eb;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .buttons{
            position: absolute;
            top: 12px;
            right: 12px;
            z-index: 10;
            display: flex;
            gap: 12px;
            .ant-btn{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .edit-btn{
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        &:hover{
            .edit-btn{
                opacity: 1;
            }
        }
    }

    // Profile
    .profile-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-inline: auto;
        max-width: 420px;
        padding: 8px 16px;
        margin-top: -80px;
        z-index: 99;
        .profile-photo{
            width: 140px;
            height: 140px;
            border: 4px solid #fff;
            box-shadow:  0 4px 17px rgba(#000000, 0.25);
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profile-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            color: #546467;
            margin-block: 32px;
            h3{
                line-height: 1;
                font-size: 32px;
                font-weight: 600;
            }
            small{
                font-size: 16px;
                font-weight: 400;
            }
            p{
                margin: 0;
                line-height: 1;
                font-size: 20px;
                font-weight: 400;
            }
        }
        .profile-actions{
            width: 100%;
            .ant-btn{
                width: 100%;
                max-width: 50%;
                min-height: 72px;
                border-radius: 0;
                font-size: 20px;
                font-weight: 700;
                background-color: #FF8000;
                &.left{
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }
                &.right{
                    background-color: #546467;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }
        }
    }
}