.dashboard {
  display: flex;
  height: 100vh;

  &.collapsed .sider {
    width: 140px; // Adjust width when collapsed
  }
}

.sider {
  position: relative; /* Position the button relative to the sidebar */

  width: 200px;
  background-color: #f0f2f5;
  padding: 15px;
  transition: width 0.3s ease; // Add transition for smooth animation

  .logo-image {
    margin-top: 2%;
    width: 150px;
    height: auto;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin-top: 15%;

    .menu-item {
      padding: 10px 0;
      cursor: pointer;

      &:hover {
        color: #FF8000;
      }
    }
  }

  .collabs-button {
    position: absolute; /* Position the button absolutely */
    bottom: 0; /* Adjust top position */
    right: 0; /* Align button to the right */
    padding: 10px;
    cursor: pointer;
    background-color: #FF8000;
    color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}


.content {
  flex: 1;

  .content-header {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    height: 70px;
    background-color:#40a9ff;

    .content-header-headings {
      padding: 20px;
      color: white;
    }
    .AddUser-action{
      padding: 20px;
      .Add-user-btn{
        background-color: #FF8000;
        border: none;
        color: white;
      }
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #e8e8e8;
      padding: 20px;
      text-align: center; // Center align text
    }

    td{
      cursor: pointer;

    }
    th {
      color: #100739;
      background-color: #f0f2f5;
    }


    tbody tr:hover {
      background-color: #e6f7ff; // Hover row background color
    }

    .Actions-btns {
      .Delete-button {
        font-size: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #FF8000;
        text-decoration: underline;

        &:hover {
          color: #40a9ff;
        }
      }

      .Edit-button {
        font-size: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(25, 172, 192);
        text-decoration: underline;
        margin-left: 20px;

        &:hover {
          color: #40a9ff;
        }
      }
    }

  }

}