@import url("https://fonts.googleapis.com/css?family=Nunito Sans");
.dashboard {
  display: flex;

  .content {
    flex: 1;

    .content-header {
      flex: 100%;
      height: 70px;
      background-color: #100739;
      position: sticky;
      top: 0;

      .content-header-headings {
        width: 30%;
        padding: 20px;
        color: white;
      }

      .content-header-logo {
        height: 50px;
        width: 60px;
        padding: 10px;
      }

      .content-header-companyName {
        width: 30%;
        height: 50px;
        padding: 20px;
        font-size: 24px;
        /* Increase font size for emphasis */
        font-weight: bold;
        color: white;
        // text-decoration: underline;
        /* Remove unwanted text decoration */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        /* Add a subtle text shadow for depth */
        font-family: Nunito Sans,
      }

      .AddUser-action {
        width: 70%;
        text-align: right;
        margin-right: 5px;
        padding: 18px;
      }

      .AddUser-action .Add-user-btn {
        background-color: #ff8000;
        border: none;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .AddUser-action .Add-user-btn:hover {
        background-color: #ff9933;
      }

    }

    .scrollable-table {
      max-height: 100vh;
      overflow-x: auto;
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      background-color: #ffffff;

      th,
      td {
        border: 1px solid #e8e8e8;
        padding: 20px;
        text-align: center;
      }

      td {
        cursor: pointer;
      }

      th {
        color: #100739;
        background-color: #f0f2f5;
      }

      tbody tr:hover {
        background-color: #e6f7ff;
      }

      .Actions-btns {
        .view-eye-btn {
          font-size: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: #2d8ed4;
          text-decoration: underline;
          margin-right: 14px;

          &:hover {
            color: #40a9ff;
          }
        }

        .Delete-button {
          font-size: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: #ff8000;
          text-decoration: underline;

          &:hover {
            color: #40a9ff;
          }
        }

        .Edit-button {
          font-size: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: rgb(25, 172, 192);
          text-decoration: underline;
          margin-left: 14px;

          &:hover {
            color: #40a9ff;
          }
        }
      }
    }


  }
}

.icon {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #1890ff;
  }
}

.facebook-icon {
  color: #3b5998;
}

.instagram-icon {
  background: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkedin-icon {
  color: #0e76a8;
}

.custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 5px;
  }
}