.leads {
    display: flex;
    height: 100vh;
}

.leads-header {
    width: 100%;
    height: 70px;
    background-color: #1ba0b7;
    top: 0;
    position: fixed;
    z-index: 1;
}

.leads-content {
    width: 100%;
    padding-top: 70px; /* Adjust padding to accommodate fixed header */
    overflow: hidden; /* Hide overflow from the content beneath the header */
}

.table-container {
    overflow-x: auto;
    max-height: calc(100vh - 70px); /* Adjust max-height based on fixed header height */
  /* Customizing scrollbar */
  &::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

/* Track */
&::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
&::-webkit-scrollbar-thumb {
    background: #949292; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}   
    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;

        th,
        td {
            border: 1px solid #e8e8e8;
            padding: 20px;
            // text-align: center;
        }

        td {
            cursor: pointer;
        }

        th {
            color: #100739;
            background-color: #f0f2f5;
        }

        tbody tr:hover {
            background-color: #e6f7ff;
        }

        .Actions-btns {
            .Delete-button {
              font-size: 25px;
              border: none;
              background-color: transparent;
              cursor: pointer;
              color: #ff8000;
              text-decoration: underline;
    
              &:hover {
                color: #40a9ff;
              }
            }
    
            .Edit-button {
              font-size: 25px;
              border: none;
              background-color: transparent;
              cursor: pointer;
              color: rgb(25, 172, 192);
              text-decoration: underline;
              margin-left: 20px;
    
              &:hover {
                color: #40a9ff;
              }
            }
          }
    }
}
