.leads {
    display: flex;
    height: 100vh;
}

.content-header {
    width: 100%;
    height: 70px;
    background-color: #1ba0b7;
    position: sticky;
    top: 0;
}

.leads-content {
    width: 100%;
}

.table-container {
    overflow-x: auto;

    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;

        th,
        td {
            border: 1px solid #e8e8e8;
            padding: 20px;
            text-align: center;
        }

        td {
            cursor: pointer;
        }

        th {
            color: #100739;
            background-color: #f0f2f5;
        }

        tbody tr:hover {
            background-color: #e6f7ff;
        }

        .actions-btns {
            .view-eye-btn {
                font-size: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: #2d8ed4;
                text-decoration: underline;
                margin-right: 20px;

                &:hover {
                    color: #40a9ff;
                }
            }

            .delete-button {
                font-size: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: #ff8000;
                text-decoration: underline;

                &:hover {
                    color: #40a9ff;
                }
            }

            .edit-button {
                font-size: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: rgb(25, 172, 192);
                text-decoration: underline;
                margin-left: 20px;

                &:hover {
                    color: #40a9ff;
                }
            }
        }
    }
}