* {
    padding: 0px;
    margin: 0px;

}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: rgb(215, 170, 130);
    background: linear-gradient(127deg, rgba(215, 170, 130, 1) 0%, rgba(153, 204, 204, 1) 100%);
    gap: 14px;

    .burger-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .profile-login-btn {
        position: absolute;
        top: 15px;
        right: 60px;
        cursor: pointer;

        .profile-action-login-btn {
            background-color: #F47122;
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: -100%; // Initially hidden off-screen
        height: 100%;
        width: 350px;
        background-color: #f0f2f5;
        transition: right 0.9s ease;
        z-index: 1000;

        &.open {
            right: 0;
        }

        .sidebar-content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .QR-user-details {
            margin: 0 auto;
            background-color: #ffffff;
            margin-top: 20%;
            border-radius: 50%;
            text-align: center;
            width: 80%;

            // height: 40%;
            .qr-code {
                margin-top: 3%;
                width: 60%;
                padding: 10px;
            }

        }

        .qr-code-para {
            margin-top: 2%;
            // padding: 20px;
            text-align: center;
            font-family: Raleway;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.43;
        }

        .download-qr-code-btn {
            margin-top: 5%;
            text-align: center;
        }
    }

    .cover-picture-card {
        position: absolute;
        top: 2%;
        z-index: 1;
        width: 90%;
        max-width: 704px;
        height: 320.252px;
        overflow: hidden;
        border-radius: 20px; 
    
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: inherit; 
        }
    }
    
    .cover-picture-card:hover .cover-image-edit-button {
        display: block;
    }
    
    .cover-image-edit-button {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2; 
        @media screen and (max-width: 768px) {
            top: 10px;
            right: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .cover-picture-card {
            width: 95%;
            max-width: none;
            top: 55px;
            overflow: hidden;

            img {
                width: 95%;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: inherit; 
            }
        }
    }



    .profile-card {
        position: relative; // Position profile card relative to allow z-index to work
        z-index: 2; // Set z-index to 2, higher than cover card
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
        background: white;
        width: 370px;
        height: 350px;
        display: flex;
        margin-top: 14%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }

    @media screen and (max-width: 768px) {
        .profile-card {
            max-width: 82%;
            margin-top: 44%;
        }
    }

    .profile-info {
        align-items: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .profile-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 6px solid #F47122;
        overflow: hidden;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .profile-details {
        text-align: center;
    }

    .profile-name {
        color: #546467;
        font-family: Inter;
        font-size: 18.693px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }

    .profile-designation {
        color: #546467;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .profile-action {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
    }


    .save-button {
        width: 185px;
        // padding: 15px 20px;
        font-size: 16px;
        background-color: #F47122;
        color: white;
        border: none;
        border-bottom-left-radius: 20px;
        cursor: pointer;
    }

    .exchange-button {
        width: 185px;
        // padding: 15px 20px;
        font-size: 16px;
        background-color: #546467;
        color: white;
        border: none;
        border-bottom-right-radius: 20px;
        cursor: pointer;
    }

    // .profile-action button:hover {
    //     background-color: #40a9ff;
    // }

    .social-links-card {
        background-color: #ffff;
        width: 360px;
        height: 100px;
        @media screen and (max-width: 768px) {
            width: 82%;
         
        }
    }

    .social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .icon-box {
        width: 20px;
        height: 20px;
        background-color: #e6f7ff;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .icon {
        font-size: 30px;
        cursor: pointer;
        transition: color 0.3s ease;
        padding: 5px;
    }

    .icon:hover {
        color: #1890ff;
    }

    .facebook-icon {
        color: #3b5998;
        text-decoration: none;
    }

    .instagram-icon {
        background: linear-gradient(45deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }

    .linkedin-icon {
        color: #0e76a8;
        text-decoration: none;
    }

    .bio-data-card {
        width: 360px;
        height: auto;
        background-color: #ffff;
        border-radius: 8px;
        word-wrap: break-word;
        @media screen and (max-width: 768px) {
            width: 82%;
         
        }
        .bio-heading {
            text-align: center;
            color: #546467;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 10px;
        }

        .bio-para {
            text-align: center;
            color: #546467;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            padding: 10px;
        }
    }

}

.SC-logo {
    text-align: center;
    display: flex;

    img {
        width: 198.788px;
        height: 130.548px;
    }
}