.sidebar-container {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
    /* Ensure sidebar is above other content */
    background-color: #ffffff;

    &.collapsed .sider {
        width: 140px;
        /* Adjust width when collapsed */
    }
}

.sider {
    // position: relative;
    width: 200px;
    background-color: #f0f2f5;
    padding: 15px;
    transition: width 0.3s ease;
    /* Add transition for smooth animation */
    height: 100vh;
    /* Remove redundant position: sticky; top: 0; from here */

    .logo-image {
        margin-top: 2%;
        width: 150px;
        height: auto;
    }

    .menu {
        list-style: none;
        padding: 0;
        margin-top: 15%;

        .menu-item {
            padding: 10px 0;
            cursor: pointer;

            &:hover {
                color: #FF8000;
            }
        }
    }

    .collabs-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        background-color: #FF8000;
        color: #fff;
        border: none;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}