.sidebar-container {
    display: flex;
    height: 100vh;

    &.collapsed .sider {
        width: 140px; // Adjust width when collapsed
    }
}

.sider {
    position: relative;
    /* Position the button relative to the sidebar */
    width: 200px;
    background-color: #f0f2f5;
    padding: 15px;
    transition: width 0.3s ease; // Add transition for smooth animation
    height: 100%;

    .logo-image {
        margin-top: 2%;
        width: 150px;
        height: auto;
    }

    .menu {
        list-style: none;
        padding: 0;
        margin-top: 15%;

        .menu-item {
            padding: 10px 0;
            cursor: pointer;

            &:hover {
                color: #FF8000;
            }
        }
    }

    .collabs-button {
        position: absolute;
        /* Position the button absolutely */
        bottom: 0;
        /* Adjust top position */
        right: 0;
        /* Align button to the right */
        padding: 10px;
        cursor: pointer;
        background-color: #FF8000;
        color: #fff;
        border: none;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}