.sidebar-container {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
    background-color: #ffffff;

    &.collapsed .sider {
        width: 190px;
    }
}

.sider {
    // position: relative;
    width: 240px;
    background-color: #f0f2f5;
    transition: width 0.3s ease;
    height: 100vh;

    .sider-content {
        padding: 25px;

    }

    .logo-image {
        // padding: 15px;
        width: 150px;
        height: auto;
    }

    .menu {
        // padding: 15px;
        list-style: none;
        margin-top: 15%;

        .menu-item {
            padding: 10px 0;
            cursor: pointer;

            &:hover {
                color: #FF8000;
            }
        }
        &.active {
            color: #FF8000; // Apply color for active tab
            font-weight: bold; // Add any additional styling for active tab
        }
    }

    .collabs-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        background-color: #FF8000;
        color: #fff;
        border: none;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}