@import url('https://fonts.googleapis.com/css?family=Roboto');
.sidebar-container {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
    background-color: #ffffff;

    &.collapsed .sider {
        width:30px;
    }
}

.sider {
    width: 240px;
    background-color: #f0f2f5;
    transition: width 0.8s ease;
    height: 100vh;
    overflow-x: hidden;

    .sider-content {
        padding: 35px;
    }

    .logo-image {
        width: 150px;
        height: auto;
    }

    .menu {
        list-style: none;
        margin-top: 15%;
        width: 150px;
        // font-family: 'Roboto', sans-serif;;
        .menu-item {
            // width: 150px;
            padding: 10px 0;
            cursor: pointer;
            font-size: 18px; /* Increased font size */
            transition: color 0.3s ease; /* Smooth color transition */

            &:hover {
                color: #FF8000;
            }
        }
        &.active {
            color: #FF8000; 
            font-weight: bold; 
        }
    }

    .collabs-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
        background-color: #FF8000;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px; /* Increased font size */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */

        &:hover {
            background-color: #FFA94D; /* Lighter shade on hover */
            transform: scale(1.1); /* Slightly scale up on hover */
        }
    }
}
